In [2]:
import pandas as pd 
df = pd.DataFrame({
    'city' : ['New York','London','Paris','Tokyo','Mumbai','New York','Paris'],
    'price' : [200,150,300,250,100,180,320]
})

In [7]:
## Calu=culate the mean price fir city

mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0,
 'Mumbai': 100.0,
 'New York': 190.0,
 'Paris': 310.0,
 'Tokyo': 250.0}

In [8]:
## replace each city by its mean price

df['city_encoded'] = df['city'].map(mean_price)

In [9]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4    Mumbai    100         100.0
5  New York    180         190.0
6     Paris    320         310.0