# Apply Normalizarion

## Min - Max Scaler

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [8]:
df = sns.load_dataset("diamonds")

In [11]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
min_max = MinMaxScaler()

In [13]:
min_max.fit(df[['table','price']])

MinMaxScaler()

In [15]:
pd.DataFrame(min_max.transform(df[['table','price']]),columns=['table','price'])

          table     price
0      0.230769  0.000000
1      0.346154  0.000000
2      0.423077  0.000054
3      0.288462  0.000433
4      0.288462  0.000487
...         ...       ...
53935  0.269231  0.131427
53936  0.230769  0.131427
53937  0.326923  0.131427
53938  0.288462  0.131427
53939  0.230769  0.131427

[53940 rows x 2 columns]

In [17]:
min_max.fit_transform(df[['table','price']])

array([[2.30769231e-01, 0.00000000e+00],
       [3.46153846e-01, 0.00000000e+00],
       [4.23076923e-01, 5.40628210e-05],
       ...,
       [3.26923077e-01, 1.31426718e-01],
       [2.88461538e-01, 1.31426718e-01],
       [2.30769231e-01, 1.31426718e-01]])

In [18]:
min_max.transform([[1,2]])

c:\Users\NEERAJ\Downloads\My Projects\venv\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[-0.80769231, -0.01751635]])